doctype html
html(lang="en")
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel="stylesheet" href="../node_modules/a11y.css/css/a11y-en_error.css")
	link(rel="stylesheet" href="../tae.styl")
	title Tae
	style.
		body {
			margin: 1rem
		}

	h1 Cards
	.grid
		figure.fill-A5(role="group")
			header.fill-B1 Header
			div.text-B1
				h1 Example card
			footer.text-B1 Footer
		figure.fill-A5(role="group")
			div.text-B1
				h1 Example card
			footer.fill-B1 Footer
		figure(role="group")
			header.fill-B3.cell-grow Header
			div
				h1 Example card

	h1 Typography
	.grid
		figure(role="group")
			header Text styles
			.grid
				h1 Heading 1
				h2 Heading 2
				h3 Heading 3
				h4 Heading 4
				p Body text
			
		figure(role="group")
			header Elements
			.grid
				ul
					li: abbr(title="Abbreviation") Abbr
					li: b Bold
					//bdi Bi-Directional Isolation
					//bdo Bi-Directional Override
					//cite Title of a referenced work
					li: code Code
					//data(value="") Data
					li: del Deleted text
					li: dfn Definition
					li: em Emphasis
					li: i Italic
					li: ins Inserted text
					li: kbd Keyboard Input
					li: mark Mark
					li: q Quote
					li: ruby
						| 漢 
						rp (
						rt Kan
						rp )
						| 字
						rp (
						rt ji
						rp )
				ul
					li: s Strikethrough
					li: samp Sample output from a computer program
					li: small One size smaller text
					li: span Span
					li: strong Strong
					li: sub Subscript
					li: sup Superscript
					li: time(datetime="2001-05-15 19:00") May 15
					li: u Underline
					li: var Variable
					//li: wbr

	h1 Form elements
	.grid
		figure(role="group")
			header Inputs
			div
				label
					span span
					input(type="text" value="empty" id="input-span")
				label no span
					input(type="text" value="empty" id="input-simple")
					small.help Lol
		figure(role="group")
			header Buttons
			div
				button(type="button") Button
		figure(role="group").span-4
			header Text fields
			div
				each type in ["number", "tel", "email", "password", "search", "text", "url"]
					label
						span=type
						input(type=type placeholder=type id='input-'+type)
				label Autocomplete
					input(type="text" list="browsers" id="input-autocomplete")
					datalist#browsers
						option(value="Chrome")
						option(value="Firefox")
						option(value="Safari")
						option(value="Edge")
						option(value="Opera")
		figure(role="group").span-4
			header Time fields
			div
				each type in ["date", "datetime", "datetime-local", "month", "time", "week"]
					label
						span=type
						input(type=type placeholder=type id='input-'+type)

		figure(role="group")
			header Date input
			div
				label
					span Day
					input(type="tel" list="days" id="input-day")
					datalist#days
						each _,i in Array(31)
							option(value=i)
				label
					span Month
					input(type="tel" list="months" id="input-month")
					datalist#months
						each _,i in Array(12)
							option(value=i)
				label
					span Year
					input(type="tel" list="years" id="input-year")
					datalist#years
						each _ in [2000, 2001, 2002]
							option(value=_)
		
	//include _partial.pug